/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* nav fissato allo schermo */

.number-map {
    right: 0;
    z-index: 1;
    margin-top: 10px;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: block;
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    text-decoration-line: none;
    background-color: white;
}

/* corpo della pagina */


.first-shoes, .second-shoes, .third-shoes {
    width: 100vw;
    height: 100vh;
}

.first-shoes{
    background-color: red;
}

.second-shoes{
    background-color: green;
}
.third-shoes{
    background-color: yellow;
}

img {
    width: 100%;
}

section > div{
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section  h1 {
 text-transform: uppercase;
 font-size: 3rem;
 font-weight: 900;
 color: rgb(227 227 48);
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.color-yellow{
     color: rgb(227 227 48);
}

.color-green{
    color: green;
}